@import '../../../global-styles.css';

.navBarWrapper {
  position: fixed;
  z-index: 1000;
  width: 100vw;
  display: flex;
  justify-content: center;
  color: var(--color-text-dark);
}

.userMenu {
  position: absolute;
  right: 3rem;
}
