

:root {
  @import url('https://fonts.googleapis.com/css?family=Rubik|Taviraj');

  --font-title: 'Taviraj', serif;
  --font-body: 'Rubik', sans-serif;

  --color-text-light: #fff;
  --color-text-dark: #000;
}
