<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{{htmlWebpackPlugin.options.title}}</title>
    {{#each htmlWebpackPlugin.options.cdnResources.css}}
      <link rel="stylesheet" href="{{ this.href }}" integrity="{{ this.integrity }}" crossorigin="{{ this.crossorigin }}">
    {{/each}}
    <base href="/">
</head>

<body id="home">
    <div id="app_container"><div>
</body>
</html>
